<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<!--@(window)-->
<!--@(document)-->
<script id="tinyhippos-injected">
if (window.top.ripple) {
    window.top.ripple("bootstrap").inject(window, document);
}
</script>

<head>
    <title>Broadsend</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/compass/main.css">
    <link rel="stylesheet" href="/css/compass/print.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <script>
    var require = (function() {
        var r = function() {
            r.r.push(arguments)
        };
        r.r = [];
        return r
    })();
    require(['timezone', 'common']);
    </script>
   <!--  // <script src="/js/external/jquery.js"></script>
    // <script src="/js/external/jquery.amd.js"></script>
    // <script src="/js/external/jquery.plugins.js"></script>
    // <script src="/js/external/jqtools/scrollable.js"></script>
    // <script src="/js/external/jqtools/dateinput.js"></script>
    // <script src="/js/external/plugins.js"></script>
    // <script src="/js/external/strftime.js"></script>
    // <script src="/js/amd-init.js"></script>
    // <script src="/js/amd-defer.js"></script>
    // <script src="/js/tagsinput.js"></script> -->
</head>

<body data-api="https://dev.equenext.net/api" class="js">
    <div class="n-wrapper n-report">
        <div class="n-header">
            <header>
                <div class="row">
                    <div class="span3 top-header-logo">
                        <a ui-sref="home">
                            <img src="/img/logo.png" alt="Broadsend" title="Broadsend" width="310" height="64">
                        </a>
                    </div>
                    <div class="span6 top-header-menu">
                        <div class="top-tab-container">
                            <div class="top-tab-line"></div>
                        </div>
                    </div>
                    <div ng-cloak class="sys-status" ng-controller="headerCtrl">
                        <div ng-if="!isLoggedIn()" class="reg-login"><a ui-sref="register">REGISTER</a>
                            <span>|</span><a  ui-sref="login">LOGIN</a>
                        </div>
                        <div ng-if="isLoggedIn()">
                            <a ng-click="logoutAction()">LOGOUT</a>
                        </div>
                    </div>
                    <div style="margin-top:120px;" class="navregm"></div>
                    <div class="container"></div>
                </div>
            </header>
        </div>
        <div class="ncompose">
            <div ui-view></div>
        </div>
    </div>
</body>
<script src="app/bower_components/angular/angular.js"></script>
<script src="app/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="app/bower_components/angular-permission/dist/angular-permission.js"></script>
<script src="app/bower_components/underscore/underscore.js"></script>
<!-- <script src="bower_components/angular-underscore-module/angular-underscore-module.js"></script> -->


<script src="app/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="app/app.js"></script>
<script src="app/services.js"></script>
<script src="app/underscore.js"></script>

<script src="app/services/authModel.js"></script>
<script src="app/services/validateModel.js"></script>

<script src="app/header/header.js"></script>
<script src="app/page_home/home.js"></script>
<script src="app/page_login/login.js"></script>
<script src="app/page_register/register.js"></script>
<script src="app/page_dashboard/dashboard.js"></script>


<script src="app/components/version/version.js"></script>
<script src="app/components/version/version-directive.js"></script>
<script src="app/components/version/interpolate-filter.js"></script>

</html>