<div class="row">
    <div class="span10 offset1 login-form">
        <form class="form-horizontal form-box">
            <div class="failreason" ng-show="error">ERROR: {{error}}</div>
            <fieldset>
                <div class="control-group">
                    <label for="login-email" class="control-label">Email</label>
                    <div class="controls">
                        <input ng-model="login" id="login-email" type="email" name="email" value="" required="" autofocus="">
                    </div>
                </div>
                <div class="control-group">
                    <label for="login-password" class="control-label">Password</label>
                    <div class="controls">
                        <input ng-model="password" id="login-password" type="password" name="password" required="">
                    </div>
                </div>
                <div class="form-actions">
                    <span>* By clicking login, I agree to the usage and privacy policies of this site</span><a style="margin-right: 2px;" ui-sref="register">REGISTER</a>
                    <button style="width:92px;margin-left: 4px;padding: 3px 24px;font-weight: normal;" type="submit" class="button-round-grey" ng-click="loginAction()">LOGIN</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="row">
    <div class="span10 offset1">
        <form action="#" method="post" class="form-horizontal form-box forgot-password-form">
            <fieldset>
                <div class="form-actions login-reset-form"><a href="#" class="toggler">Send me the login credentials</a>
                    <div class="toggle-item">
                        <div class="block-widget">
                            <div class="bw-text">
                                <p>
                                    <label for="email-cr" class="label-det-rep">Email:</label>
                                    <input id="email-cr" type="email" name="file" required="" class="inputbox-rep">
                                    <input type="submit" value="Send" class="bw-btn">
                                </p>
                                <p class="bw-desc"></p>
                            </div>
                            <div class="bw-bg"></div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>