.icons-sprite, .logo a, .selectbox .select:active .trigger .arrow, .selectbox .select:hover .trigger .arrow, .selectbox .select:focus .trigger .arrow, .selectbox .trigger .arrow, .btn-apply, .extend, .extend:hover, .extend.active, .extend.active:hover, .icon-manplus,
.icon-manminus, .icon-show-prev, .icon-show-next, .switcher-prev-icon, .switcher-next-icon, .lang-switcher-item, .lang-switcher-item.active, .icon-calendar, .icon-search, .icon-add, .icon-help, .icon-trash, .icon-microphone, .icon-dynamic, .icon-tw, .icon-arrow, .icon-copy, .n-header .sys-status .sys-status-icon, .n-home .slogan-1, .n-home .slogan-2, .n-info .slogan-3, .n-contacts-footer .contacts-footer li .icon-help {
  background: url('/icons-s583bd568dd.png') no-repeat;
}

/*! normalize.css v1.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}

/*
 * Addresses `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Helper clases
 * ================================================== */
.cf, .n-wrapper, .n-wrapper .n-content-wrapper .n-content, .managelist li .n-col-adv .ca-control, .status, .n-home, .n-info .information-t2, .navigation, .form-box li.row-t4, .user-state, .n-contacts-footer .contacts-footer {
  *zoom: 1;
}
.cf:before, .n-wrapper:before, .n-wrapper .n-content-wrapper .n-content:before, .managelist li .n-col-adv .ca-control:before, .status:before, .n-home:before, .n-info .information-t2:before, .navigation:before, .form-box li.row-t4:before, .user-state:before, .n-contacts-footer .contacts-footer:before, .cf:after, .n-wrapper:after, .n-wrapper .n-content-wrapper .n-content:after, .managelist li .n-col-adv .ca-control:after, .status:after, .n-home:after, .n-info .information-t2:after, .navigation:after, .form-box li.row-t4:after, .user-state:after, .n-contacts-footer .contacts-footer:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.cf:after, .n-wrapper:after, .n-wrapper .n-content-wrapper .n-content:after, .managelist li .n-col-adv .ca-control:after, .status:after, .n-home:after, .n-info .information-t2:after, .navigation:after, .form-box li.row-t4:after, .user-state:after, .n-contacts-footer .contacts-footer:after {
  clear: both;
}

.ir, .logo a, .n-home .slogan-1, .n-home .btn-apply, .n-home .slogan-2, .n-info .slogan-3 {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before, .logo a:before, .n-home .slogan-1:before, .n-home .btn-apply:before, .n-home .slogan-2:before, .n-info .slogan-3:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.vishidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.vishidden.focusable:active,
.vishidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered, .n-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.listreset, .messagebox .css-panes .tab .counters, .content-steps ul, .form-box ol, .form-box ul, .n-contacts-footer .contacts-footer {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
 * Section: Typography
 * ================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color: white;
  height: 100%;
  font-size: 14px;
}

button,
input,
select,
textarea {
  color: #2b2b2b;
  font-family: Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

body {
  height: 100%;
  margin: 0;
  color: white;
  background: #1e1e1e url("/img/bg.jpg");
  font-family: Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 24px;
}
body::-moz-selection {
  background: white;
  color: #207db6;
  text-shadow: none;
}
body::selection {
  background: white;
  color: #207db6;
  text-shadow: none;
}

/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 * ================================================== */
h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1 {
  margin: 0 0 0.67em;
  font-size: 2em;
}

h2 {
  margin: 0 0 0.83em;
  font-size: 1.5em;
}

h3 {
  margin: 0 0 1em;
  font-size: 1.17em;
}

h4 {
  margin: 0 0 1.33em;
  font-size: 1em;
}

h5 {
  margin: 0 0 1.67em;
  font-size: 0.83em;
}

h6 {
  margin: 0 0 2.33em;
  font-size: 0.75em;
}

small {
  font-size: 80%;
}

p,
pre,
dl,
menu,
ol,
ul {
  margin: 0 0 1em;
}

dd {
  margin: 0 0 0 1em;
}

menu,
ol,
ul {
  padding: 0 0 0 1em;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: #d9d9d9;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
  border: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

textarea {
  resize: vertical;
}

::-webkit-input-placeholder {
  color: #999999;
}

:-moz-placeholder {
  color: #999999;
}

.placeholder {
  color: #999999;
}

.chromeframe {
  margin: 0.2em 0;
  padding: 0.2em 0;
  color: #000;
  background: #ccc;
}

/*
 * Structure
 * ================================================== */
.n-wrapper {
  background-image: url("/img/spotlight.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  padding-bottom: 6em;
  position: relative;
  width: 968px;
  min-height: 500px;
  /*
   * Info bar: include lang switcher, circle loaders, coverage map
   * ================================================== */
}
.n-wrapper .n-info {
  padding: 25px 18px 0;
}
.n-wrapper.n-report .n-info {
  margin-bottom: 12px;
}
.n-wrapper .n-content-wrapper {
  margin-top: 2em;
  border: 1px solid #2E292E;
  border-top: none;
  background: url("/img/border-line.png") 0 0 repeat-x;
}
.n-wrapper .n-content-wrapper .n-content {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  min-height: 500px;
  /*
   * 2 Column Structure
   * ================================================== */
}
.n-wrapper .n-content-wrapper .n-content .n-content-in {
  min-height: 500px;
  position: relative;
  left: 200px;
  float: left;
  padding-bottom: 33px;
  border-left: 1px solid #2e292e;
  /* Col 1 */
}
.n-wrapper .n-content-wrapper .n-content .n-content-in .n-content-in-2 {
  position: relative;
  right: 200px;
  float: right;
  width: 50%;
  padding-bottom: 0;
  /* Col 2 */
}
.n-wrapper .n-content-wrapper .n-content .n-content-in .n-content-in-2 .n-content-in-3 {
  position: relative;
  right: 100%;
  overflow: hidden;
  margin-left: 200px;
}
.n-wrapper .n-content-wrapper .n-content .n-content-in .content-sidebar {
  position: relative;
  right: 201px;
  float: left;
  width: 200px;
  padding-top: 79px;
}
.n-wrapper .n-content-wrapper .content {
  padding: 25px 16px 0 32px;
}

/*
 * Universal blocks
 * ================================================== */
.logo {
  width: 310px;
  height: 64px;
}
.logo a {
  background-position: 0 -146px;
  display: block;
  width: 310px;
  height: 64px;
}

.n-lang-switcher {
  width: 76px;
  margin: 0 auto;
}
.n-lang-switcher .prev,
.n-lang-switcher .next {
  display: block !important;
  width: 100%;
  height: 14px;
  margin-bottom: 19px;
  cursor: pointer;
  text-align: center;
  line-height: 1;
}
.n-lang-switcher .next {
  margin-top: 19px;
  margin-bottom: 0;
}
.n-lang-switcher .lang-switcher {
  position: relative;
  overflow: hidden;
  /*
   * vertical scrollables have typically larger height than width but
   * not now
   * ========================= */
  width: 100%;
  height: 68px;
  /*
   * Required settings: root element for scrollable items
   * ========================= */
}
.n-lang-switcher .lang-switcher .items {
  position: absolute;
  top: 0;
  left: 0;
  height: 20000em;
}

.reset-bdbg {
  border: 0 !important;
  background: none !important;
}

ul.nav-actions {
  float: right;
  min-width: 472px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  letter-spacing: none;
  _width: 472px;
}
ul.nav-actions li {
  position: relative;
  z-index: 0;
  display: inline-block;
  margin-right: 52px;
}
ul.nav-actions li a {
  background-image: url("/img/arrow-2.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  display: block;
  padding-right: 32px;
}
ul.nav-actions li a.active {
  background-image: url("/img/arrow-3.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  display: block;
  padding-right: 32px;
}
ul.nav-actions li .toggle-item {
  position: absolute;
  z-index: 1;
  top: 35px;
  left: -130px;
  width: 500px;
}

.block-widget {
  position: relative;
  z-index: 0;
  display: inline-block;
  min-width: 400px;
  min-height: 20px;
}
.block-widget .bw-text {
  position: relative;
  z-index: 1;
  padding: 12px 0;
}
.block-widget .bw-text p {
  margin: 0;
}
.block-widget .bw-text p.bw-desc {
  margin: 10px 0 0;
  text-align: center;
}
.block-widget .bw-text input.inputbox {
  min-width: 214px;
  width: auto !important;
}
.block-widget .bw-text label, .block-widget .bw-text .form-box li.messagelegend, .form-box .block-widget .bw-text li.messagelegend {
  padding: 0 12px 0 10px;
  text-transform: uppercase;
}
.block-widget .bw-text .bw-btn {
  position: relative;
  margin: 0;
  padding: 0 22px 0 20px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background: none;
  font-size: 1.21429em;
}
.block-widget .bw-text .bw-btn:active {
  top: 1px;
}
.block-widget .bw-bg {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5);
  opacity: 0.05;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0px solid black;
  background: white;
}

.txt-widget {
  display: inline-block;
  min-width: 300px;
}
.txt-widget p {
  margin-bottom: 1.14286em;
  font-style: italic;
}
.txt-widget p:last-child {
  margin-bottom: 0;
}

.managelist {
  position: relative;
  min-height: 500px;
  padding-bottom: 44px;
  /* Footer Buttons */
  list-style-type: none;
  margin-left: 50px;
}
.managelist .managelist-red .form-cb {
  background: #e52c14;
}
.managelist li .manage-form a {
  color: #fff;
}
.managelist li {
  clear: left;
  margin-bottom: 16px;
  text-align: left;
  color: #2b2b2b;
}
.managelist li:last-child {
  margin-bottom: 0;
}
.managelist li a {
  color: #2b2b2b;
}
.managelist li a:hover {
  color: #4a4a4a;
}
.managelist li .n-col {
  position: relative;
  clear: both;
  background: white;
  min-height: 34px;
  line-height: 34px;
  _height: 34px;
  padding-right: 42px;
  padding-left: 29px;
  display: block;
  cursor: pointer;
}
.managelist li .n-col label, .managelist li .n-col .form-box li.messagelegend, .form-box .managelist li .n-col li.messagelegend {
  cursor: pointer;
}
.managelist li .n-col span {
  white-space: nowrap;
}
.managelist li .n-col-adv {
  margin: 0;
  line-height: 1;
}
.managelist li .n-col-adv p {
  margin-bottom: 0;
}
.managelist li .n-col-adv .col-adv {
  margin-left: 29px;
  background: #1E1E1E;
}
.managelist li .n-col-adv .ca-response {
  background: white;
  margin: 9px 0;
  padding: 14px 0;
}
.managelist li .n-col-adv .ca-response dl {
  clear: both;
  margin-bottom: 11px;
}
.managelist li .n-col-adv .ca-response dl:last-child {
  margin-bottom: 0;
}
.managelist li .n-col-adv .ca-response dt {
  float: left;
  width: 97px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.85714em;
  line-height: 18px;
}
.managelist li .n-col-adv .ca-response dd {
  margin: 0 0 0 97px;
}
.managelist li .n-col-adv .ca-message {
  color: white;
  font-size: 0.85714em;
  line-height: 1.66667em;
}
.managelist li .n-col-adv .ca-message h3 {
  color: #2b2b2b;
  background: white;
  padding-left: 3px;
  text-transform: uppercase;
  font-size: 0.91667em;
}
.managelist li .n-col-adv .ca-message p {
  margin: 15px 0;
}
.managelist li .n-col-adv .ca-response-text {
  color: white;
  font-size: 0.85714em;
  line-height: 1.66667em;
}
.managelist li .n-col-adv .ca-response-text h3 {
  color: #2b2b2b;
  background: white;
  padding-left: 3px;
  text-transform: uppercase;
  font-size: 0.91667em;
}
.managelist li .n-col-adv .ca-response-text ol {
  padding-left: 2em;
  list-style: decimal outside;
  margin: 0;
}
.managelist li .n-col-adv .ca-response-text ol li {
  color: white;
  margin-bottom: 0;
  padding-bottom: 16px;
}
.managelist li .n-col-adv .ca-control {
  border-top: 8px solid white;
  border-bottom: 7px solid white;
  padding: 11px 0;
  padding-left: 5px;
}
.managelist li .n-col-adv .ca-control .btn {
  margin-left: 20px;
  float: left;
}
.managelist li .n-col-adv .ca-control a.ca-link-details {
  color: white;
  background-image: url("/img/arrow-2.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  display: inline-block;
  float: right;
  line-height: 26px;
  padding-right: 34px;
  margin-right: 26px;
}
.managelist li .n-col-adv .ca-control a.ca-link-details:hover {
  color: #d9d9d9;
}
.managelist li.send-buttons {
  position: absolute;
  right: 10px;
  bottom: -16px;
  left: 0;
  float: none;
  width: auto;
  padding-left: 0;
  color: white;
  background: none;
}
.managelist li.send-buttons input {
  float: left;
}
.managelist li.send-buttons label, .managelist li.send-buttons .form-box li.messagelegend, .form-box .managelist li.send-buttons li.messagelegend {
  display: block;
  float: left;
  width: auto;
  min-width: 0;
  line-height: 28px;
}
.managelist li.send-buttons label input, .managelist li.send-buttons .form-box li.messagelegend input, .form-box .managelist li.send-buttons li.messagelegend input {
  float: none;
}
.managelist li.send-buttons .btn {
  margin-right: 20px;
}
.managelist li.send-buttons .btn:last-child {
  margin-right: 0;
}
.managelist li.send-buttons .show-switcher {
  margin: 0;
}
.managelist li .form-cb {
  display: block;
  width: 29px;
  height: 34px;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  background: #60a211;
}
.managelist li .form-cb input {
  margin-top: 10px;
}
.managelist li .n-col-line {
  line-height: 20px;
  display: block;
  float: left;
  width: auto;
  min-width: 0;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.managelist li .n-col-line span {
  display: block;
  float: left;
  padding-left: 21px;
  background: white;
}
.managelist li .n-col-line span:first-child {
  position: relative;
  overflow: hidden;
  min-width: 212px;
  max-width: 290px;
  text-align: left;
}
.managelist li .n-col-line span:first-child:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwLjIpIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuOSkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0.9)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9));
  background-image: linear-gradient(left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9));
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  left: 220px;
  display: block;
  content: ' ';
}
.managelist li .extend {
  position: absolute;
  top: 5px;
  right: 11px;
}

.managelist-footer {
  margin-left: 50px;
}
.managelist-footer label, .managelist-footer .form-box li.messagelegend, .form-box .managelist-footer li.messagelegend {
  display: inline;
  margin-right: 5px;
}
.managelist-footer .btn {
  margin-right: 20px;
}

/*
 * Calendar
 * ========================= */
/* calendar root element */
#calroot {
  /* place on top of other elements. set a higher value if nessessary */
  z-index: 10000;
  margin-top: -1px;
  padding: 2px;
  background-color: #fff;
  font-size: 11px;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0 15px #666;
  -webkit-box-shadow: 0 0 15px #666;
}

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {
  padding: 2px 0;
  height: 22px;
}

#caltitle {
  font-size: 14px;
  color: #0150D1;
  float: left;
  text-align: center;
  width: 155px;
  line-height: 20px;
  text-shadow: 0 1px 0 #ddd;
}

#calnext, #calprev {
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url("/img/prev.gif") no-repeat scroll center center;
  float: left;
  cursor: pointer;
}

#calnext {
  background-image: url("/img/next.gif");
  float: right;
}

#calprev.caldisabled, #calnext.caldisabled {
  visibility: hidden;
}

/* year/month selector */
#caltitle select {
  font-size: 10px;
}

/* names of the days */
#caldays {
  height: 20px;
  color: #000;
  border-bottom: 1px solid black;
}

#caldays span {
  display: block;
  float: left;
  width: 28px;
  text-align: center;
}

/* container for weeks */
#calweeks {
  background-color: #fff;
  margin-top: 4px;
}

/* single week */
.calweek {
  clear: left;
  height: 22px;
}

/* single day */
.calweek a {
  display: block;
  float: left;
  width: 27px;
  height: 20px;
  text-decoration: none;
  font-size: 11px;
  margin-left: 1px;
  text-align: center;
  line-height: 20px;
  color: #666;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* different states */
.calweek a:hover, .calfocus {
  background-color: #ddd;
}

/* sunday */
a.calsun {
  color: red;
}

/* offmonth day */
a.caloff {
  color: #ccc;
}

a.caloff:hover {
  background-color: #f5f5fa;
}

/* unselecteble day */
a.caldisabled {
  background-color: #efefef !important;
  color: #ccc   !important;
  cursor: default;
}

/* current day */
#calcurrent {
  background-color: #498CE2;
  color: #fff;
}

/* today */
#caltoday {
  background-color: #333;
  color: #fff;
}

/*
 * Collapsible item
 * ========================= */
.toggle-item {
  display: none;
}

/*
 * Page switcher
 * ========================= */
.show-switcher {
  float: right;
  width: 180px;
  margin-right: 11px;
  margin-bottom: 15px;
}
.show-switcher p {
  height: 24px;
  margin-bottom: 0;
  text-align: center !important;
  line-height: 24px;
}
.show-switcher p a {
  float: left;
}
.show-switcher p a.icon-show-next {
  float: right;
}

/*
 * Tabs box
 * ====================== */
.messagebox {
  position: relative;
  width: 544px;
  min-height: 306px;
  /* root element for tabs */
  /* tab pane */
}
.messagebox ul.css-tabs {
  height: 49px;
  margin: 0 !important;
  padding: 0 0 0 76px;
  line-height: 1;
}
.messagebox ul.css-tabs li {
  position: relative;
  float: left;
  width: 142px;
  height: 29px;
  margin: 0 0 0 9px;
  padding-top: 20px;
  list-style-type: none;
  text-align: center;
  line-height: 29px;
}
.messagebox ul.css-tabs li a {
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-left-radius: 9px;
  border-top-left-radius: 9px;
  -moz-border-radius-topright: 9px;
  -webkit-border-top-right-radius: 9px;
  border-top-right-radius: 9px;
  display: block;
  float: left;
  width: 100%;
  min-width: 5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #625F62;
}
.messagebox ul.css-tabs li a:hover {
  text-decoration: none;
}
.messagebox ul.css-tabs li a:focus, .messagebox ul.css-tabs li a.focus {
  outline: 0;
}
.messagebox ul.css-tabs li a:hover {
  color: #333;
  background-color: #F7F7F7;
}
.messagebox ul.css-tabs li a.current {
  color: #2b2b2b;
  cursor: default;
  cursor: default;
  text-decoration: none !important;
  background: white;
}
.messagebox ul.css-tabs li a.current:hover {
  color: #050505;
}
.messagebox ul.css-tabs li .txtcounter {
  position: absolute;
  top: 0;
  left: 0;
  left: 50%;
  display: block;
  width: 6em;
  margin-left: -3em;
  text-align: center;
  line-height: 1;
}
.messagebox .css-panes .tab {
  display: none;
}
.messagebox .css-panes .tab .mtxt {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  color: #2b2b2b;
  width: 96%;
  padding: 2% 2% 2%;
  color: #2b2b2b;
  background: white;
}
.messagebox .css-panes .tab .mtxt:hover {
  color: #050505;
}
.messagebox .css-panes .tab .counters {
  margin: 0;
}
.messagebox .css-panes .tab .counters li {
  display: inline-block;
  margin: 0 20px 0 0 !important;
  padding-top: 1em;
  text-transform: uppercase;
  font-size: 11.9px;
  line-height: 1 !important;
}
.messagebox .css-panes .tab textarea {
  display: block;
  width: 100%;
  min-height: 230px;
  margin: 0;
  padding: 0;
  resize: vertical;
  border: 0;
  outline: 0;
}

.progressbar {
  width: 100px;
  position: relative;
  display: block;
  height: 22px;
  line-height: 22px;
}
.progressbar.pr-t1 {
  background-color: #55B013;
}
.progressbar.pr-t2 {
  background-color: #14BBE5;
}
.progressbar.pr-t3 {
  background-color: #FFE637;
}
.progressbar.pr-t4 {
  background-color: #EE3618;
}
.progressbar span {
  position: absolute;
  display: block;
  height: 22px;
  line-height: 20px;
  right: -45px;
  top: 0;
}

/*
 * Forms elements
 * ================================================== */
input.inputbox {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  display: inline-block;
  height: 18px;
  max-height: 20px;
  padding: 4px 20px;
  border: 0;
  border: none;
  outline: none;
  font-size: 1em;
  line-height: 18px;
}
input.inputbox:focus {
  -webkit-box-shadow: #0064cd 0px 0px 4px, #0064cd 0px 0px 4px;
  -moz-box-shadow: #0064cd 0px 0px 4px, #0064cd 0px 0px 4px;
  box-shadow: #0064cd 0px 0px 4px, #0064cd 0px 0px 4px;
}

.selectbox {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  vertical-align: middle;
}
.selectbox .select {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  display: inline-block;
  height: 18px;
  max-height: 20px;
  padding: 4px 40px 4px 20px;
  color: #2b2b2b;
  border: 0;
  border: none;
  outline: none;
  background: white;
  font-size: 1em;
  line-height: 18px;
}
.selectbox .select:active, .selectbox .select:hover, .selectbox .select:focus {
  -webkit-box-shadow: #0064cd 0px 0px 4px, #0064cd 0px 0px 4px;
  -moz-box-shadow: #0064cd 0px 0px 4px, #0064cd 0px 0px 4px;
  box-shadow: #0064cd 0px 0px 4px, #0064cd 0px 0px 4px;
}
.selectbox .select:active .trigger .arrow, .selectbox .select:hover .trigger .arrow, .selectbox .select:focus .trigger .arrow {
  background-position: 0 -905px;
  width: 16px;
  height: 14px;
}
.selectbox .select .text {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.selectbox.focused .select {
  border: 1px solid #5794BF;
}
.selectbox .trigger {
  position: absolute;
  top: 0;
  right: -20px;
  width: 20px;
  height: 100%;
}
.selectbox .trigger .arrow {
  background-position: 0 -919px;
  width: 16px;
  height: 14px;
  position: absolute;
  right: 0;
  bottom: 4px;
}
.selectbox .dropdown {
  top: 33px;
  width: 240px;
  margin: 0;
  padding: 4px 0;
  border: 1px solid #C6CBD0;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font: 14px/18px Arial, Tahoma, sans-serif;
}
.selectbox li {
  margin: 0 !important;
  padding: 0.41em 10px;
  color: #2b2b2b;
  line-height: 14px !important;
}
.selectbox li.selected {
  color: #FFF;
  background: #A3ABB1;
}
.selectbox li:hover {
  color: #FFF;
  background: #08C;
}
.selectbox li.disabled {
  color: #AAA;
}
.selectbox li.disabled:hover {
  background: none;
}
.selectbox:hover .arrow {
  opacity: 1;
  filter: alpha(opacity=100);
}

/*
 * Buttons: Main
 * ================================================== */
input::-moz-focus-inner {
  border: 0;
  /* remove borders in FireFox */
  padding: 0;
}

.btn {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  display: inline-block;
  margin-bottom: 0;
  padding: 4px 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #2b2b2b;
  background: white;
  background-color: white;
  line-height: 1.28571em;
  border: 0;
  min-width: 92px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.btn:hover {
  text-decoration: none;
  color: #555555;
}
.btn.active, .btn:active {
  color: #e52c14 !important;
}
.btn.disabled, .btn[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=6500);
  opacity: 65;
  cursor: default;
  background-image: none;
}

.btn-invert {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FjYWJhYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkzOTE5MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #acabab), color-stop(100%, #939191));
  background-image: -webkit-linear-gradient(top, #acabab, #939191);
  background-image: -moz-linear-gradient(top, #acabab, #939191);
  background-image: -o-linear-gradient(top, #acabab, #939191);
  background-image: linear-gradient(top, #acabab, #939191);
  color: white;
  background: #acabab;
}
.btn-invert:hover {
  color: white;
}

.btn-apply {
  background-position: 0 -306px;
  width: 207px;
  height: 83px;
  display: inline-block;
  vertical-align: middle;
}

/*
 * Icons: Main
 * ================================================== */
.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 0;
}

.icon::-moz-focus-inner {
  border: 0;
  /* remove borders in FireFox */
  padding: 0;
}

.extend {
  background-position: 0 -981px;
  width: 25px;
  height: 24px;
}
.extend:hover {
  background-position: 0 -1005px;
}

.extend.active {
  background-position: 0 -822px;
  width: 25px;
  height: 24px;
}
.extend.active:hover {
  background-position: 0 -798px;
}

.icon-manplus,
.icon-manminus {
  background-position: 0 -446px;
  width: 39px;
  height: 42px;
  position: absolute;
  top: 4px;
  left: 0;
}

.icon-manminus {
  background-position: 0 -513px;
}

.icon-show-prev {
  background-position: 0 -957px;
  width: 12px;
  height: 24px;
}

.icon-show-next {
  background-position: 0 -933px;
  width: 12px;
  height: 24px;
}

.switcher-prev-icon {
  background-position: 0 -1153px;
  width: 27px;
  height: 12px;
}

.switcher-next-icon {
  background-position: 0 -1141px;
  width: 26px;
  height: 12px;
}

.lang-switcher-item {
  background-position: 0 -1091px;
  width: 76px;
  height: 25px;
  margin-bottom: 19px;
  font-size: 0.85714em;
  line-height: 2em;
}

.lang-switcher-item.active {
  background-position: 0 -1116px;
  color: #2b2b2b;
  line-height: 2em;
}
.lang-switcher-item.active:hover {
  color: #4a4a4a;
}

.icon-calendar {
  background-position: 0 -389px;
  width: 16px;
  height: 16px;
}

.icon-search {
  background-position: 0 -593px;
  width: 28px;
  height: 31px;
}

.icon-add {
  background-position: 0 -1165px;
  width: 28px;
  height: 31px;
}

.icon-help {
  background-position: 0 -1060px;
  width: 28px;
  height: 31px;
}

.icon-trash {
  background-position: 0 -1029px;
  width: 28px;
  height: 31px;
}

.icon-microphone {
  background-position: 0 -555px;
  width: 21px;
  height: 38px;
}

.icon-dynamic {
  background-position: 0 -768px;
  width: 22px;
  height: 30px;
}

.icon-tw {
  background-position: 0 -732px;
  width: 34px;
  height: 36px;
}

.icon-arrow {
  background-position: 0 -696px;
  width: 34px;
  height: 36px;
}

.icon-copy {
  background-position: 0 -624px;
  width: 34px;
  height: 36px;
}

/*
 * Header: include logo, top men, status icon
 * ================================================== */
.n-header .logo {
  position: absolute;
  top: 32px;
  left: 0;
  margin: 0;
}
.n-header header {
  background-image: url("/img/divider.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 104px;
  margin-bottom: 50px;
  padding-bottom: 2px;
}
.n-header .loginbox {
  position: absolute;
  top: 46px;
  right: 15px;
}
.n-header .loginbox a {
  text-transform: uppercase;
  font-size: 11.9px;
}
.n-header .top-menu {
  position: absolute;
  right: 88px;
  bottom: 2px;
  width: 700px;
}
.n-header .top-menu ul {
  width: 700px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.n-header .top-menu ul li {
  position: relative;
  z-index: 0;
  display: inline-block;
  margin-right: -10px;
  text-align: center;
  line-height: 1;
}
.n-header .top-menu ul li a {
  background-image: url("tabs.png");
  background-position: 100% -44px;
  background-repeat: no-repeat;
  display: block;
  height: 21px;
  padding-right: 21px;
}
.n-header .top-menu ul li a span {
  background-image: url("tabs.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  min-width: 106px;
  height: 14px;
  padding: 5px 0 2px 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 11.9px;
  _width: 106px;
}
.n-header .top-menu ul li.active {
  z-index: 1;
}
.n-header .top-menu ul li.active a {
  color: #2b2b2b;
  background-position: 100% -67px;
}
.n-header .top-menu ul li.active a span {
  background-position: 0 -23px;
}
.n-header .top-menu ul li.active a:hover {
  text-decoration: none;
}
.n-header .sys-status {
  position: absolute;
  right: -62px;
  bottom: -5px;
}
.n-header .sys-status .sys-status-icon {
  background-position: 0 -846px;
  width: 73px;
  height: 59px;
  display: block;
  margin-left: 1px;
}
.n-header .sys-status .ssicon-1 {
  width: 15px;
}
.n-header .sys-status .ssicon-2 {
  width: 33px;
}
.n-header .sys-status .ssicon-3 {
  width: 48px;
}
.n-header .sys-status .ssicon-4 {
  width: 63px;
}
.n-header .sys-status p {
  margin: 14px 0 0;
  text-transform: uppercase;
  font-size: 11.9px;
  line-height: 1;
}

/*
 * Status bar: include current status, timer, tools panel
 * ================================================== */
.status {
  margin-bottom: 28px;
}
.status .from-bar {
  float: left;
  width: 50%;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.status .status-bar {
  float: left;
  clear: left;
  width: 50%;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1.42857em;
}
.status .timer {
  float: right;
  font-size: 5.14286em;
}
.status .timer p {
  margin: 0;
  line-height: 1;
}
.status .timer p span {
  font-size: 0.33333em;
}

.n-home {
  margin-bottom: 7.71429em;
}
.n-home .slogan-1 {
  background-position: 0 -210px;
  width: 560px;
  height: 96px;
  float: right;
  margin-right: 20px;
}
.n-home .col-1 {
  float: right;
  float: right;
  min-width: 446px;
  margin-right: 60px;
}
.n-home .btn-apply {
  float: left;
  margin-bottom: 17px;
}
.n-home .btn-apply:active {
  -webkit-box-shadow: #0064cd 0px 0px 4px, #0064cd 0px 0px 4px;
  -moz-box-shadow: #0064cd 0px 0px 4px, #0064cd 0px 0px 4px;
  box-shadow: #0064cd 0px 0px 4px, #0064cd 0px 0px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  top: 2px;
}
.n-home .btnblock {
  float: left;
  margin: 0;
  margin-bottom: 17px;
  margin-left: 15px;
  padding: 12px 0;
  line-height: 26px;
}
.n-home .slogan-2 {
  background-position: 0 -423px;
  width: 206px;
  height: 23px;
  clear: both;
  margin-bottom: 46px;
}
.n-home label, .n-home .form-box li.messagelegend, .form-box .n-home li.messagelegend {
  margin-right: 0.23529em;
  font-size: 1.21429em;
}

.n-info {
  margin-bottom: 4em;
}
.n-info .information {
  text-align: justify;
  text-justify: newspaper;
  /* Null parent */
  font-size: 1px;
  line-height: 0;
  /* IE6/IE7 fix */
  *zoom: 1;
  *text-align-last: justify;
}
.n-info .information:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0px;
  content: '';
}
.n-info .information-t2 {
  margin-bottom: 4.57143em;
}
.n-info .information-t2 .col-1, .n-info .information-t2 .col-2 {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
}
.n-info .information-t2 .col-1 p, .n-info .information-t2 .col-2 p {
  text-align: center;
}
.n-info .information-t2 .col-1 .n-loader, .n-info .information-t2 .col-2 .n-loader {
  margin: 0 24px;
}
.n-info .n-lang-switcher,
.n-info .n-loader,
.n-info .geomap {
  position: relative;
  display: inline-block;
  min-height: 176px;
  text-align: left;
  /* Opere - remove bottom space*/
  vertical-align: top;
  /* Restore childrens (exc. last)*/
  font-size: 14px;
  line-height: normal;
  _height: 176px;
}
.n-info p.information-desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
}
.n-info .n-lang-switcher {
  width: 130px;
}
.n-info .n-lang-switcher .information-inner {
  width: 76px;
  margin: 0 auto;
}
.n-info .n-loader {
  width: 144px;
}
.n-info .n-loader .contacts-loader,
.n-info .n-loader .response-loader {
  background-image: url("/img/circle-anim.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 144px;
  height: 146px;
  position: relative;
}
.n-info .n-loader .contacts-loader span,
.n-info .n-loader .response-loader span {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -15px;
  text-align: center;
  font-size: 1.71429em;
  line-height: 1;
  line-height: 1.25em;
}
.n-info .geomap {
  min-width: 283px;
  _width: 283px;
}
.n-info .slogan-3 {
  background-position: 0 -405px;
  width: 278px;
  height: 18px;
  margin: 0 auto;
}

.navigation {
  padding: 103px 0 36px;
}
.navigation a.nav-back {
  background-image: url("/img/arrow.png");
  background-position: 0 50%;
  background-repeat: no-repeat;
  display: block;
  float: left;
  min-width: 180px;
  padding-left: 29px;
  text-transform: uppercase;
  line-height: 1.71429em;
  _width: 12.85714em;
}
.navigation .btn {
  float: right;
  margin-right: 32px;
}

/*
 * Forms, Articles with user states
 * ================================================== */
.content-steps ul li {
  margin-bottom: 16px;
  background-color: #854d53;
  /* Loop Colors and Right conrner */
}
.content-steps ul li a {
  display: block;
  height: 34px;
  padding-left: 16px;
  text-transform: uppercase;
  font-size: 1.07143em;
  line-height: 34px;
}
.content-steps ul li.active a {
  background-image: url("sidebuttons.png");
  background-position: 100% 0;
  background-repeat: no-repeat;
  width: 214px;
}
.content-steps ul li.sidebar-item-2 {
  background-color: #cc16e7;
}
.content-steps ul li.sidebar-item-2 a {
  display: block;
  background-position: 100% -34px;
}
.content-steps ul li.sidebar-item-3 {
  background-color: #0078c9;
}
.content-steps ul li.sidebar-item-3 a {
  display: block;
  background-position: 100% -68px;
}
.content-steps ul li.sidebar-item-4 {
  background-color: #f05e0e;
}
.content-steps ul li.sidebar-item-4 a {
  display: block;
  background-position: 100% -102px;
}
.content-steps ul li:last-child {
  margin-bottom: 0;
}
.content-steps.cs-manage {
  /* Loop Colors and Right conrner */
}
.content-steps.cs-manage li.sidebar-item-2 {
  background-color: #54d04d;
}
.content-steps.cs-manage li.sidebar-item-2 a {
  display: block;
  background-position: 100% -136px;
}
.content-steps.cs-manage li.sidebar-item-3 {
  background-color: #00aeff;
}
.content-steps.cs-manage li.sidebar-item-3 a {
  display: block;
  background-position: 100% -170px;
}
.content-steps.cs-manage li.sidebar-item-4 {
  background-color: #ffba00;
}
.content-steps.cs-manage li.sidebar-item-4 a {
  display: block;
  background-position: 100% -204px;
}

.form-box {
  /* Additional buttons */
}
.form-box.manage-t1 {
  width: 600px;
}
.form-box fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
.form-box .managelist {
  padding-left: 21px;
  padding-right: 22px;
  padding-bottom: 44px;
  /* Footer Buttons */
}
.form-box .managelist label, .form-box .managelist li.messagelegend {
  display: block;
  padding-right: 0;
  float: none;
}
.form-box .managelist .send-buttons {
  padding-left: 0;
}
.form-box .managelist li {
  margin-bottom: 16px;
  text-align: left;
  line-height: 1;
}
.form-box > li {
  clear: both;
}
.form-box li {
  margin-bottom: 25px;
  line-height: 32px;
  /* for Vertical Align - do not forget restore in other blocks */
}
.form-box li label, .form-box li li.messagelegend, .form-box li span.messagelegend {
  display: inline-block;
  min-width: 90px;
  padding-right: 18px;
  text-align: right;
  vertical-align: middle;
  white-space: nowrap;
  _width: 90px;
}
.form-box li input.inputbox {
  min-width: 452px;
  padding: 4px 20px;
  vertical-align: middle;
  _width: 452px;
}
.form-box li .icon {
  vertical-align: middle;
}
.form-box li .icon-search {
  margin-left: 8px;
}
.form-box li .icon-add {
  margin: 0 3px;
}
.form-box li .langbox {
  float: left;
  width: 108px;
  margin-top: 72px;
}
.form-box li.messagelegend {
  margin-bottom: 0;
  line-height: 1.28571em;
}
.form-box li.message {
  position: relative;
  /* Restore line height */
  line-height: 1.71429em;
}
.form-box li.message .messagebox {
  margin-left: 108px;
}
.form-box li.row-t2 {
  padding-left: 90px;
  text-align: right;
}
.form-box li.row-t2 label, .form-box li.row-t2 li.messagelegend {
  min-width: 0;
  padding: 0 18px;
  text-align: left;
}
.form-box li.row-t2 input.inputbox {
  width: 94px;
  min-width: 0;
}
.form-box li.row-t2 input.inputbox.state {
  width: 32px;
}
.form-box li.row-t2 input.inputbox.zip {
  width: 56px;
}
.form-box li.row-t3 {
  padding: 4px;
}
.form-box li.row-t3 label.pin, .form-box li.row-t3 li.pin.messagelegend {
  width: 72px;
  min-width: 0;
  padding: 0;
  text-align: center;
}
.form-box li.row-t3 input.inputbox {
  width: 276px;
  min-width: 0;
}
.form-box li.row-t3 input.inputbox.pin {
  width: 56px;
}
.form-box li.row-t4 {
  position: relative;
}
.form-box li.row-t4 .toggler {
  background-image: url("/img/arrow-2.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  display: block;
  float: left;
  padding-right: 38px;
}
.form-box li.row-t4 .toggler.active {
  background-image: url("/img/arrow-3.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
.form-box li.row-t4 span.panedesc {
  position: absolute;
  top: 0.3em;
  right: 0;
  display: block;
  height: 23px;
  margin-right: 120px;
  line-height: 23px;
}
.form-box li.row-t4 .panelist {
  clear: left;
  padding-top: 28px;
  padding-left: 108px;
  line-height: 1;
}
.form-box li.row-t4 .panelist .panelegend {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  display: inline-block;
  width: 162px;
  height: 18px;
  margin-bottom: 20px;
  padding: 4px 20px;
  text-align: center;
  background: #575656;
  line-height: 16px;
}
.form-box li.row-t4 .panelist .pane-col1, .form-box li.row-t4 .panelist .pane-col2 {
  float: left;
  width: 202px;
  margin-bottom: 22px;
}
.form-box li.row-t4 .panelist .pane-col1 input.inputbox, .form-box li.row-t4 .panelist .pane-col2 input.inputbox {
  width: 162px;
  min-width: 0;
  padding: 4px 20px;
}
.form-box li.row-t4 .panelist .pane-col1 div, .form-box li.row-t4 .panelist .pane-col2 div {
  position: relative;
  margin-bottom: 14px;
  line-height: 32px;
}
.form-box li.row-t4 .panelist .pane-col1 .toggler, .form-box li.row-t4 .panelist .pane-col2 .toggler {
  background-image: url("/img/arrow-2.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  right: -28px;
  display: block;
  width: 12px;
  height: 24px;
  padding-right: 0;
}
.form-box li.row-t4 .panelist .pane-col1 .toggler.active, .form-box li.row-t4 .panelist .pane-col2 .toggler.active {
  background-image: url("/img/arrow-3.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.form-box li.row-t4 .panelist .pane-col1 .toggle-item, .form-box li.row-t4 .panelist .pane-col2 .toggle-item {
  padding-bottom: 10px;
}
.form-box li.row-t4 .panelist .pane-col1 .toggle-item label, .form-box li.row-t4 .panelist .pane-col1 .toggle-item li.messagelegend, .form-box li.row-t4 .panelist .pane-col2 .toggle-item label, .form-box li.row-t4 .panelist .pane-col2 .toggle-item li.messagelegend {
  line-height: 1;
}
.form-box li.row-t4 .panelist .pane-col1 .toggle-item .checkbox, .form-box li.row-t4 .panelist .pane-col2 .toggle-item .checkbox {
  margin-left: 4px;
}
.form-box li.row-t4 .panelist .pane-col1 .icon, .form-box li.row-t4 .panelist .pane-col2 .icon {
  position: absolute;
  top: 0;
  right: -60px;
  margin: 0;
}
.form-box li.row-t4 .panelist .pane-col2 {
  float: right;
}
.form-box li.row-t4 .panelist .pane {
  clear: both;
}
.form-box li.row-t4 .panelist .pane div {
  position: relative;
  height: 32px;
  margin-bottom: 14px;
  line-height: 32px;
}
.form-box li.row-t4 .panelist .pane .icon {
  position: absolute;
  top: 0;
  right: -36px;
  margin: 0;
}
.form-box li.find-bar {
  padding-left: 21px;
}
.form-box li.find-bar label, .form-box li.find-bar li.messagelegend {
  min-width: 0;
  text-align: left;
}
.form-box li.send-bar {
  position: relative;
  z-index: 2;
  margin-left: -25px;
  padding-left: 21px;
}
.form-box li.send-bar label, .form-box li.send-bar li.messagelegend {
  min-width: 0;
  padding: 0 4px;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
}
.form-box li.send-bar label.icon, .form-box li.send-bar li.icon.messagelegend {
  padding: 0;
}
.form-box li.send-bar .inputbox {
  width: 84px;
  min-width: 0;
  vertical-align: middle;
}
.form-box li.send-bar .selectbox .select {
  width: 64px;
}
.form-box li.send-bar .selectbox .dropdown {
  width: 124px;
}
.form-box li.send-bar .checkbox {
  margin-left: 4px;
  vertical-align: middle;
}
.form-box .mtab-swittcher {
  position: absolute;
  top: 20px;
  right: 0;
  width: 64px;
  text-align: center;
}
.form-box .mtab-swittcher .icon {
  margin: 0 4px;
}
.form-box .msound-control {
  position: absolute;
  right: 0;
  bottom: 34px;
  width: 58px;
}
.form-box .msound-control .icon {
  float: left;
  clear: left;
  margin-bottom: 16px;
}
.form-box .msound-control .icon:last-child {
  margin-bottom: 0;
}

.user-state {
  min-height: 49px;
  margin-bottom: 20px;
  padding: 0 24px;
  color: #2b2b2b;
  background: white;
  _height: 49px;
}
.user-state h1, .user-state h2, .user-state h3, .user-state h4, .user-state h5, .user-state h6 {
  color: #2b2b2b;
}
.user-state h2 {
  margin-bottom: 0;
  font-size: 1.64286em;
  line-height: 1.30435em;
}
.user-state h3 {
  margin-bottom: 0;
  font-size: 1.28571em;
  line-height: 1.66667em;
}
.user-state p {
  margin-bottom: 0.28571em;
  font-size: 10.5px;
  line-height: 1;
}
.user-state .col-1, .user-state .col-2, .user-state .col-3 {
  float: left;
  width: 28%;
  margin-bottom: 6px;
}
.user-state .col-2 {
  width: 31%;
}
.user-state .col-3 {
  position: relative;
  float: right;
  width: 40%;
  padding: 12px 0 0;
  z-index: 0;
}
.user-state .col-3 p {
  margin-bottom: 0;
  padding-left: 48px;
  letter-spacing: 0px;
  font-size: 1.21429em;
  line-height: 1.41176em;
}
.user-state .col-3 p:before {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwLjEpIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1), #ffffff);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.1), #ffffff);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.1), #ffffff);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0.1), #ffffff);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 85%;
  display: block;
  content: ' ';
}
.user-state .col-3 .extend {
  position: absolute;
  top: 13px;
  right: 0;
  display: block;
  z-index: 1;
}
.user-state .col-3 .extend.active {
  right: 0;
}
.user-state .n-col-adv {
  position: relative;
  clear: both;
  margin: 0 -24px;
}
.user-state .col-adv table {
  width: 100%;
}
.user-state .col-adv table thead td {
  text-transform: uppercase;
}
.user-state .col-adv table td {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  word-spacing: -0.08em;
  color: white;
  border-bottom: 6px solid white;
  background: #3d3b3b;
  font-size: 10.5px;
}
.user-state .col-adv table td:first-child {
  padding-left: 24px;
}
.user-state .col-adv table td:last-child {
  padding-right: 24px;
}
.user-state .col-adv table tbody td:nth-child(2) {
  text-transform: none;
}
.user-state .col-adv table tbody tr:last-child td {
  border-bottom: 0;
}
.user-state .col-adv table .col-adv-1 {
  width: 10%;
}
.user-state .col-adv table .col-adv-2 {
  width: 15%;
}
.user-state .col-adv table .col-adv-3 {
  width: 18%;
}
.user-state .col-adv table .col-adv-4 {
  width: 7%;
}
.user-state .col-adv table .col-adv-5 {
  width: 18%;
}

.n-contacts-footer .contacts-footer {
  font-size: 10.5px;
}
.n-contacts-footer .contacts-footer a {
  color: #60a211;
}
.n-contacts-footer .contacts-footer a:hover {
  color: #375d0a;
}
.n-contacts-footer .contacts-footer li {
  float: left;
  width: 25%;
  min-height: 36px;
  text-align: left;
  line-height: 1.4;
}
.n-contacts-footer .contacts-footer li .icon {
  float: left;
  margin-right: 13px;
  vertical-align: top;
}
.n-contacts-footer .contacts-footer li .icon-help {
  background-position: 0 -660px;
  width: 34px;
  height: 36px;
}

.n-footer footer {
  clear: both;
  margin-bottom: 20px;
  border-top: 1px solid #207db6;
}
.n-footer footer p {
  margin: 0.28571em 0 0;
  line-height: 1;
}

/*
 * Media Queries
 * ================================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}
/* Do not put to top or in helpers.scss to avoid cascade problems */
.iein, ul.nav-actions li, .block-widget, .txt-widget, .managelist li .n-col-adv .ca-control a.ca-link-details, .messagebox .css-panes .tab .counters li, .btn, .btn-apply, .icon, .n-header .top-menu ul li, .n-info .n-lang-switcher,
.n-info .n-loader,
.n-info .geomap, .form-box li label, .form-box li li.messagelegend, .form-box li span.messagelegend, .form-box li.row-t4 .panelist .panelegend {
  /* Sometimes IE7 know about inline-block... */
  *display: inline;
  *zoom: 1;
}

#save-alert {
  margin-right: 4px;
  margin-top: 1px;
}

.col-1 {
  min-height: 43px;
}

.toggler.active {
  background-image: url("/img/arrow-3.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

div.select {
  max-height: 26px;
  height: 26px;
  width: 124px;
}

span.selectbox {
  max-height: 28px;
}

.sent-buttons label, .sent-buttons .form-box li.messagelegend, .form-box .sent-buttons li.messagelegend {
  vertical-align: top;
}

.bw-text {
  width: 416px;
  height: 86px;
}

.label-det-rep {
  display: inline-block;
}

.inputbox-rep {
  width: 254px;
}

.n-info {
  padding: 25px 18px 0;
}

.n-content-wrapper {
  border-top: none;
  /*background: url("/img/border-line.png") 0 0 repeat-x;*/
  background: none !important;
  border: none !important;
  display: inline-block;
  width: 100%;
}

.n-content {
  border: 1px solid #2E292E;
}

.n-loader {
  margin-left: 76px;
}

.geomap {
  margin-left: 76px;
}

.n-wrapper {
  z-index: 0;
}

.authentication {
  margin: 0 0 0 215px;
}

.container {
  width: 968px;
}

.toggler {
  background-image: url("/img/arrow-2.png");
  background-position: right center;
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 38px;
}

.selectbox .select {
  margin-left: 4px;
}

.counters li {
  display: inline-block;
  font-size: 11.9px;
  line-height: 1 !important;
  margin: 0 20px 0 0 !important;
  padding-top: 1em;
  text-transform: uppercase;
}

.n-content-in > .centered-form {
  margin-top: 2em;
}

.login-form, .register-form {
  margin-top: 5em;
}

input.icon-white[type='submit'] {
  border: 0;
  width: 28px;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

.top-header-logo {
  width: 310px;
  height: 64px;
  margin-top: 27px;
}

.top-header-menu {
  width: 500px;
}

.clock-line .clock-line-org {
  display: inline-block;
  float: left;
  margin-top: 6px;
  margin-bottom: 10px;
}
.clock-line .clock-line-first {
  margin-top: 1em;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.clock-line .clock-line-second {
  font-size: large;
  margin-top: 0.5em;
  margin-bottom: 25px;
  font-size: 1.42857em;
}
.clock-line .clock-line-clock {
  margin-top: 44px;
  margin-left: -120px;
}

.sys-status > .reg-login {
  font-size: 13px;
  margin-bottom: 6px;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
}

.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}

.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}

.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.button-round-grey, .button-round-flat, .button-round-white, .button-refresh, .button-refresh {
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  border: 0;
  vertical-align: baseline;
  line-height: 18px;
  display: inline-block;
  margin: 0;
}
.button-round-grey:hover, .button-round-grey:focus, .button-round-flat:hover, .button-round-flat:focus, .button-round-white:hover, .button-refresh:hover, .button-round-white:focus, .button-refresh:focus, .button-refresh:hover, .button-refresh:focus {
  text-decoration: none;
  color: white;
  background: #7c7c7c;
}
.button-round-grey:active, .button-round-flat:active, .button-round-white:active, .button-refresh:active, .button-refresh:active {
  background: #708c70;
}

.button-round-grey {
  padding: 3px 30px;
  background: #acacac;
  margin-left: 15px;
  color: white;
}

.button-round-white, .button-refresh {
  padding: 4px 28px;
  background: white;
  border: 1px solid #ccc;
  margin-left: 15px;
  color: black;
}
.button-round-white:hover, .button-refresh:hover, .button-round-white:focus, .button-refresh:focus {
  text-decoration: none;
  color: black;
  background: #ddd;
}
.button-round-white:active, .button-refresh:active {
  background: #90ac90;
}

.button-round-flat {
  padding: 3px 12px;
  background: transparent;
  margin: 0 4px;
  color: white;
}

.button-refresh {
  border: 1px solid #ccc;
  vertical-align: baseline;
  padding: 3px 15px;
}

.button-flat {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 4px;
  margin: 1px;
  cursor: pointer;
  visibility: hidden;
}
.button-flat:hover {
  border: 1px solid #ccc;
  padding: 3px;
}
.button-flat:active {
  border: 1px solid #aea;
  padding: 3px;
}

.compose-res-controls {
  width: 100px;
  padding-left: 10px;
}

.compose-conference {
  display: none;
}
.compose-conference label, .compose-conference .form-box li.messagelegend, .form-box .compose-conference li.messagelegend {
  display: inline;
  margin-left: 4px;
  text-transform: uppercase;
  font-size: 0.8em;
}
.compose-conference input {
  margin-bottom: 6px;
}

.compose-tab {
  padding: 7px 46px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  /* TODO:
    box-shadow:inset 0px 1px 0px 0px #caefab;*/
  margin: 3px;
  border: 1px solid #555;
  border-bottom: 0px;
}

.compose-tab-active {
  border: 1px solid #999;
  border-bottom: 0;
}

.compose-tab-nonempty {
  background-color: #408a20;
}

.control-group.compose-tabs-group {
  margin-bottom: -2px;
  z-index: 3;
  position: relative;
  white-space: nowrap;
}
.control-group.compose-tabs-group .controls {
  width: 530px;
  /*overflow-x: auto;*/
  overflow-y: visible;
  line-height: 31px;
  padding: 0 0 0 30px;
}

.compose-form.form-horizontal .control-label {
  width: 100px;
}
.compose-form.form-horizontal .control-label .lang-switcher {
  text-align: center;
}
.compose-form.form-horizontal .controls {
  float: left;
  margin-left: 20px;
}
.compose-form.form-horizontal .controls input {
  width: 490px;
}
.compose-form.form-horizontal .controls textarea {
  width: 560px;
}
.compose-form.form-horizontal .compose-address-pickers {
  float: left;
}
.compose-form.form-horizontal .form-actions {
  padding-left: 120px;
}

.compose-form .send-buttons {
  text-align: left;
  margin-right: 18px;
}
.compose-form .send-buttons label, .compose-form .send-buttons .form-box li.messagelegend, .form-box .compose-form .send-buttons li.messagelegend {
  display: inline;
  vertical-align: middle;
  text-transform: uppercase;
}
.compose-form .send-buttons .btn {
  margin-right: 18px;
}

.compose-to-group > .bootstrap-tagsinput {
  width: 490px;
  padding: 0 7px;
  text-align: left;
}
.compose-to-group > .bootstrap-tagsinput input {
  padding: 0;
}

.report-icon-plus {
  background-image: url("/img/view-plus.png");
}

.report-icon-minus {
  background-image: url("/img/view-minus.png");
}

/*
 *  styles affecting the layout of the entire project
 *  meaning that they are used everywhere
 */
.logout {
  text-align: center;
}

.message_responses {
  margin-left: 180px;
  text-align: left;
  padding-bottom: 20px;
}

.icon-alignment {
  margin-left: 4px;
  margin-top: -4px;
}

.n-content {
  float: left;
  width: 100%;
}

.view-charts {
  margin-top: 20px;
}

/*
 * Vertical align for login and register pages
 * ================================================== */
.vertical-align {
  display: table;
  padding: 0;
  height: 100%;
}
.vertical-align .logo {
  position: absolute;
  top: 32px;
  left: 0;
  margin: 0;
}
.vertical-align .n-content {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  *display: inline;
  *vertical-align: middle;
  *zoom: 1;
}
.vertical-align .n-content .content {
  width: 712px;
  margin: 0 auto;
  text-align: right;
}
.vertical-align .n-content .content input.inputbox {
  width: 562px;
}
.vertical-align .n-content .content li {
  position: relative;
}
.vertical-align .n-content .content li.send-buttons label, .vertical-align .n-content .content li.send-buttons .form-box li.messagelegend, .form-box .vertical-align .n-content .content li.send-buttons li.messagelegend {
  text-transform: none;
}
.vertical-align .n-content .content .icon-add {
  position: absolute;
  top: 3px;
  right: -40px;
}
.vertical-align .n-content .content li:last-child {
  margin-bottom: 0;
  vertical-align: top;
}
.vertical-align .n-content .content li:last-child label, .vertical-align .n-content .content li:last-child .form-box li.messagelegend, .form-box .vertical-align .n-content .content li:last-child li.messagelegend {
  padding-bottom: 4px;
  letter-spacing: -0.01em;
  word-spacing: -0.08em;
  font-size: 11.9px;
}
.vertical-align .iefix {
  *height: 100%;
  *display: inline-block;
  *vertical-align: middle;
}

.login-reset-form {
  clear: both;
  float: right;
  font-size: 11.9px;
  padding: 0;
  margin: 0;
  padding-right: 1em;
  margin-top: 1em;
}
.login-reset-form .toggler {
  background-image: url("/img/arrow-2.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  display: block;
}
.login-reset-form .toggler.active {
  background-image: url("/img/arrow-3.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
.login-reset-form .toggle-item {
  float: right;
  padding-top: 1em;
}

.login-form input[type="text"], .login-form input[type="password"], .login-form input[type="email"], .login-form input[type="tel"], .register-form input[type="text"], .register-form input[type="password"], .register-form input[type="email"], .register-form input[type="tel"] {
  width: 100%;
}
.login-form .control-group, .register-form .control-group {
  margin-top: 28px;
}
.login-form .form-actions, .register-form .form-actions {
  padding: 0;
  margin-bottom: 0;
  padding-right: 1em;
}
.login-form .form-actions span, .register-form .form-actions span {
  font-size: 11.9px;
  margin-right: 1em;
}
.login-form .form-actions label, .login-form .form-actions .form-box li.messagelegend, .form-box .login-form .form-actions li.messagelegend, .register-form .form-actions label, .register-form .form-actions .form-box li.messagelegend, .form-box .register-form .form-actions li.messagelegend {
  display: inline;
}
.login-form #chk-agreed, .register-form #chk-agreed {
  margin: 0 10px 0 0;
}
.login-form .failreason, .login-form .reset-passwd-header, .register-form .failreason, .register-form .reset-passwd-header {
  text-align: center;
}

.manage-form {
  color: #fff;
}
.manage-form input,
.manage-form textarea,
.manage-form select,
.manage-form .help-inline,
.manage-form .uneditable-input,
.manage-form .input-prepend,
.manage-form .input-append {
  display: inline-block;
  margin-bottom: 0;
}
.manage-form .hide {
  display: none;
}
.manage-form fieldset > .control-group {
  margin-bottom: 31px;
}
.manage-form fieldset > .form-actions {
  margin-top: -21px;
  margin-right: 38px;
}
.manage-form fieldset > .form-actions .save-manage-form {
  color: #555;
  width: 92px;
  height: 25px;
  margin-top: 15px;
  font-weight: normal;
}
.manage-form fieldset input[type="text"], .manage-form fieldset input[type="password"], .manage-form fieldset input[type="email"], .manage-form fieldset input[type="tel"] {
  width: 100%;
}
.manage-form .emflag {
  background: none;
  margin-top: 0px;
  height: 30px;
  vertical-align: top;
  text-align: left;
  display: none;
  width: 200px;
  margin-left: 0px;
}
.manage-form .emflag input[type="checkbox"] {
  vertical-align: top;
  margin-left: 5px;
  margin-top: -1px;
}
.manage-form .emflag-arrow {
  width: 26px;
  height: 25px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-left: 5px;
  cursor: pointer;
  background-image: url("/img/arrow-2.png");
}
.manage-form .emflag-arrow.active {
  background-image: url("/img/arrow-3.png");
}
.manage-form .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.manage-form .controls {
  margin-left: 160px;
  text-align: left;
}
.manage-form .help-block {
  margin-top: 12px;
  margin-bottom: 0;
}
.manage-form .form-actions {
  padding-left: 160px;
}

.manage-form-inlines {
  text-align: left;
  margin-top: 28px;
}
.manage-form-inlines label, .manage-form-inlines .form-box li.messagelegend, .form-box .manage-form-inlines li.messagelegend {
  display: inline-block;
}
.manage-form-inlines .control-group {
  display: inline-block;
  margin-bottom: 0;
}
.manage-form-inlines .control-label {
  float: none;
  width: auto;
  margin-left: 30px;
}
.manage-form-inlines .controls {
  display: inline-block;
  margin-left: 20px;
}

.manage-list-expand {
  margin: 9px 0;
  padding: 9px 0 0;
}

.manage-contacts .manage-list-item {
  width: 90%;
  width: -webkit-calc(100% - 24px);
  width: -moz-calc(100% - 24px);
  width: -o-calc(100% - 24px);
  width: calc(100% - 24px);
}
.manage-contacts label.manage-list-item, .manage-contacts .form-box li.manage-list-item.messagelegend, .form-box .manage-contacts li.manage-list-item.messagelegend, .manage-contacts .manage-phones.manage-phones.manage-phones {
  width: 187px;
}
.manage-contacts .manage-phones {
  float: left;
  min-height: 26px;
}

.menu-container {
  width: 240px;
  height: 0px;
  margin-left: 0;
  min-height: 0;
  position: relative;
  z-index: 1;
}

.menu-item:first-child {
  margin-top: 4em;
}

.menu-item {
  margin-top: 1em;
  text-align: left;
  padding: 6px 10px;
  color: white;
  text-shadow: white 0 0 1px;
  margin-right: 40px;
  position: relative;
  display: block;
}
.menu-item:hover {
  color: white;
  text-decoration: none;
}

.menu-item-arrow {
  position: absolute;
  width: 53px;
  height: 53px;
  -webkit-transform: scaley(0.5) translatex(27.5px) translatey(-17px) rotate(45deg);
  -moz-transform: scaley(0.5) translatex(27.5px) translatey(-17px) rotate(45deg);
  -ms-transform: scaley(0.5) translatex(27.5px) translatey(-17px) rotate(45deg);
  -o-transform: scaley(0.5) translatex(27.5px) translatey(-17px) rotate(45deg);
  transform: scaley(0.5) translatex(27.5px) translatey(-17px) rotate(45deg);
  top: 0px;
  right: 0px;
  z-index: -10;
}

.menu-item-sky, .menu-item-sky .menu-item-arrow {
  background-color: #00aeff;
}

a.menu-item-sky:hover {
  background-color: #008bcc;
  background-image: -webkit-linear-gradient(top, #33beff, #008bcc);
  background-image: -moz-linear-gradient(top, #33beff, #008bcc);
  background-image: -o-linear-gradient(top, #33beff, #008bcc);
  background-image: linear-gradient(top, #33beff, #008bcc);
  cursor: pointer;
}
a.menu-item-sky:hover .menu-item-arrow {
  background-color: #008bcc;
  background-image: -webkit-linear-gradient(top, #33beff, #008bcc);
  background-image: -moz-linear-gradient(top, #33beff, #008bcc);
  background-image: -o-linear-gradient(top, #33beff, #008bcc);
  background-image: linear-gradient(top, #33beff, #008bcc);
  cursor: pointer;
}

.menu-item-sky {
  border: 1px solid #008bcc;
}

.menu-item-sky .menu-item-arrow {
  border-top: 2px solid #008bcc;
  border-right: 2px solid #008bcc;
}

.menu-item-red, .menu-item-red .menu-item-arrow {
  background-color: #e46520;
}

a.menu-item-red:hover {
  background-color: #ba5017;
  background-image: -webkit-linear-gradient(top, #ea844d, #ba5017);
  background-image: -moz-linear-gradient(top, #ea844d, #ba5017);
  background-image: -o-linear-gradient(top, #ea844d, #ba5017);
  background-image: linear-gradient(top, #ea844d, #ba5017);
  cursor: pointer;
}
a.menu-item-red:hover .menu-item-arrow {
  background-color: #ba5017;
  background-image: -webkit-linear-gradient(top, #ea844d, #ba5017);
  background-image: -moz-linear-gradient(top, #ea844d, #ba5017);
  background-image: -o-linear-gradient(top, #ea844d, #ba5017);
  background-image: linear-gradient(top, #ea844d, #ba5017);
  cursor: pointer;
}

.menu-item-red {
  border: 1px solid #ba5017;
}

.menu-item-red .menu-item-arrow {
  border-top: 2px solid #ba5017;
  border-right: 2px solid #ba5017;
}

.menu-item-blue, .menu-item-blue .menu-item-arrow {
  background-color: #3e67dd;
}

a.menu-item-blue:hover {
  background-color: #234dc5;
  background-image: -webkit-linear-gradient(top, #6989e5, #234dc5);
  background-image: -moz-linear-gradient(top, #6989e5, #234dc5);
  background-image: -o-linear-gradient(top, #6989e5, #234dc5);
  background-image: linear-gradient(top, #6989e5, #234dc5);
  cursor: pointer;
}
a.menu-item-blue:hover .menu-item-arrow {
  background-color: #234dc5;
  background-image: -webkit-linear-gradient(top, #6989e5, #234dc5);
  background-image: -moz-linear-gradient(top, #6989e5, #234dc5);
  background-image: -o-linear-gradient(top, #6989e5, #234dc5);
  background-image: linear-gradient(top, #6989e5, #234dc5);
  cursor: pointer;
}

.menu-item-blue {
  border: 1px solid #234dc5;
}

.menu-item-blue .menu-item-arrow {
  border-top: 2px solid #234dc5;
  border-right: 2px solid #234dc5;
}

.menu-item-brown, .menu-item-brown .menu-item-arrow {
  background-color: #854e54;
}

a.menu-item-brown:hover {
  background-color: #653b40;
  background-image: -webkit-linear-gradient(top, #a3636a, #653b40);
  background-image: -moz-linear-gradient(top, #a3636a, #653b40);
  background-image: -o-linear-gradient(top, #a3636a, #653b40);
  background-image: linear-gradient(top, #a3636a, #653b40);
  cursor: pointer;
}
a.menu-item-brown:hover .menu-item-arrow {
  background-color: #653b40;
  background-image: -webkit-linear-gradient(top, #a3636a, #653b40);
  background-image: -moz-linear-gradient(top, #a3636a, #653b40);
  background-image: -o-linear-gradient(top, #a3636a, #653b40);
  background-image: linear-gradient(top, #a3636a, #653b40);
  cursor: pointer;
}

.menu-item-brown {
  border: 1px solid #653b40;
}

.menu-item-brown .menu-item-arrow {
  border-top: 2px solid #653b40;
  border-right: 2px solid #653b40;
}

.menu-item-orange, .menu-item-orange .menu-item-arrow {
  background-color: #ffba00;
}

a.menu-item-orange:hover {
  background-color: #cc9500;
  background-image: -webkit-linear-gradient(top, #ffc833, #cc9500);
  background-image: -moz-linear-gradient(top, #ffc833, #cc9500);
  background-image: -o-linear-gradient(top, #ffc833, #cc9500);
  background-image: linear-gradient(top, #ffc833, #cc9500);
  cursor: pointer;
}
a.menu-item-orange:hover .menu-item-arrow {
  background-color: #cc9500;
  background-image: -webkit-linear-gradient(top, #ffc833, #cc9500);
  background-image: -moz-linear-gradient(top, #ffc833, #cc9500);
  background-image: -o-linear-gradient(top, #ffc833, #cc9500);
  background-image: linear-gradient(top, #ffc833, #cc9500);
  cursor: pointer;
}

.menu-item-orange {
  border: 1px solid #cc9500;
}

.menu-item-orange .menu-item-arrow {
  border-top: 2px solid #cc9500;
  border-right: 2px solid #cc9500;
}

.menu-item-purple, .menu-item-purple .menu-item-arrow {
  background-color: #a924bd;
}

a.menu-item-purple:hover {
  background-color: #831c92;
  background-image: -webkit-linear-gradient(top, #c53ada, #831c92);
  background-image: -moz-linear-gradient(top, #c53ada, #831c92);
  background-image: -o-linear-gradient(top, #c53ada, #831c92);
  background-image: linear-gradient(top, #c53ada, #831c92);
  cursor: pointer;
}
a.menu-item-purple:hover .menu-item-arrow {
  background-color: #831c92;
  background-image: -webkit-linear-gradient(top, #c53ada, #831c92);
  background-image: -moz-linear-gradient(top, #c53ada, #831c92);
  background-image: -o-linear-gradient(top, #c53ada, #831c92);
  background-image: linear-gradient(top, #c53ada, #831c92);
  cursor: pointer;
}

.menu-item-purple {
  border: 1px solid #831c92;
}

.menu-item-purple .menu-item-arrow {
  border-top: 2px solid #831c92;
  border-right: 2px solid #831c92;
}

.menu-item-green, .menu-item-green .menu-item-arrow {
  background-color: #54d04c;
}

a.menu-item-green:hover {
  background-color: #39b930;
  background-image: -webkit-linear-gradient(top, #7bdb74, #39b930);
  background-image: -moz-linear-gradient(top, #7bdb74, #39b930);
  background-image: -o-linear-gradient(top, #7bdb74, #39b930);
  background-image: linear-gradient(top, #7bdb74, #39b930);
  cursor: pointer;
}
a.menu-item-green:hover .menu-item-arrow {
  background-color: #39b930;
  background-image: -webkit-linear-gradient(top, #7bdb74, #39b930);
  background-image: -moz-linear-gradient(top, #7bdb74, #39b930);
  background-image: -o-linear-gradient(top, #7bdb74, #39b930);
  background-image: linear-gradient(top, #7bdb74, #39b930);
  cursor: pointer;
}

.menu-item-green {
  border: 1px solid #39b930;
}

.menu-item-green .menu-item-arrow {
  border-top: 2px solid #39b930;
  border-right: 2px solid #39b930;
}

.menu-item-active {
  border-right: 0;
}

.nav-reg-login {
  text-align: right;
}

.nav-reg-login a {
  font-size: 90%;
  /*font-variant: small-caps;*/
  color: white;
  padding: 2px 2px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.bootstrap-tagsinput,
select {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 4px 9px;
  min-height: 26px;
}

.form-actions {
  background-color: transparent;
  border: 0px;
  text-align: right;
}

.failreason {
  color: red;
  padding-bottom: 10px;
}
.failreason a {
  color: red;
}

.centered-form {
  text-align: center;
}
.centered-form fieldset {
  display: inline-block;
  vertical-align: middle;
}

.side-icons {
  display: inline-block;
  text-align: left;
  width: 90px;
  line-height: 28px;
}

.view-time {
  font-size: xx-small;
}

.chart-percentage {
  position: absolute;
  width: 150px;
  line-height: 150px;
  font-size: large;
  left: 0;
}

#contacted-chart canvas, #responded-chart canvas {
  position: absolute;
  left: 0;
}

.clock-digit {
  margin: 0 0 30px 505px;
  font-size: 5.14286em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.clock-ampm {
  font-size: 2.0em;
  font-weight: 200;
}

.view-control-link {
  color: white;
}
.view-control-link:hover {
  color: white;
}

.paginator {
  color: white;
}

div.paginator {
  margin: 1.5em 1em;
  float: right;
}
div.paginator span {
  margin: 0 5px;
}

.lang-select-arrow {
  margin: 15px;
}

.lang-select-block > div {
  margin: 15px 0;
}

.lang-select {
  padding: 1px 9px;
  background: #666;
  color: white;
  display: inline-block;
  -webkit-border-radius: 2px 0px 0px 2px;
  -moz-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px;
  position: relative;
}
.lang-select .lang-select-after {
  background: #666;
}

.lang-select-active {
  background: white;
  color: black;
}
.lang-select-active .lang-select-after {
  background: white;
}

.lang-select-after {
  -webkit-transform: scaley(0.65) translatex(12px) translatey(-2.4px) rotate(45deg);
  -moz-transform: scaley(0.65) translatex(12px) translatey(-2.4px) rotate(45deg);
  -ms-transform: scaley(0.65) translatex(12px) translatey(-2.4px) rotate(45deg);
  -o-transform: scaley(0.65) translatex(12px) translatey(-2.4px) rotate(45deg);
  transform: scaley(0.65) translatex(12px) translatey(-2.4px) rotate(45deg);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0px;
  right: 0px;
  z-index: -1;
}

.report-chart-sub {
  margin-top: 10px;
  font-size: small;
  color: #eee;
}

.report-chart-wrapper {
  height: 150px;
  display: block;
}

.report-chart-inline {
  width: 150px;
  height: 150px;
  display: inline-block;
  position: relative;
}

.report-icon {
  width: 40px;
  height: 45px;
}

.manage-contacts label, .manage-contacts .form-box li.messagelegend, .form-box .manage-contacts li.messagelegend {
  background-color: #555;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 3px 9px;
}
.manage-contacts input {
  margin-bottom: 10px;
}

.view-search-bar-from, .view-search-bar-to, .view-search-bar-order, .view-search-bar-btn {
  display: inline-block;
}

.view-search-bar-btn {
  width: 25px;
  height: 30px;
  line-height: 28px;
}
.view-search-bar-btn button {
  background: transparent;
  padding: 3px;
  margin: 0;
  border: 0;
}

.error-code, .error-msg {
  font-family: Kalinga, sans-serif;
  clear: both;
}

.error-code {
  font-size: 6em;
  line-height: 1.5em;
  text-shadow: 2px 2px 0px #2c2e38, 4px 4px 0px #888;
}

.error-msg {
  font-size: 2em;
  line-height: 1em;
  text-shadow: 1px 1px 0px #2c2e38, 2px 2px 0px #888;
}

.error-id {
  margin-top: 1em;
}

.api-markdown pre, .api-markdown code {
  background-color: #eee;
}
.api-markdown h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  font-size: 28px;
}
.api-markdown h2 {
  font-size: 24px;
  border-bottom: 1px solid #ccc;
}
.api-markdown a {
  color: #3c6;
}

.view-msg-container {
  color: black;
  display: table;
  border-collapse: separate;
  border-spacing: 0 1em;
  width: 100%;
}

.view-msg, .view-report {
  background-color: white;
  display: table-row;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  cursor: pointer;
  color: black;
}
.view-msg:hover, .view-report:hover {
  background-color: #e6e6e6;
  color: black;
  text-decoration: none;
}

.view-msg .view-item {
  padding: 3px 20px;
}

.view-item {
  display: table-cell;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  vertical-align: middle;
}
.view-item:first-child {
  -webkit-border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
  border-left: 1px solid #cccccc;
}
.view-item:last-child {
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  border-right: 1px solid #cccccc;
}

.view-report .view-item {
  padding: 7px 20px;
}

.view-report .view-event-pending {
  width: 2em;
  background-color: #e62c15;
  border: 1px solid #b72311;
  border-right: 0;
  padding: 0;
}

.view-report .view-event-completed {
  width: 2em;
  background-color: #61a212;
  border: 1px solid #46740d;
  border-right: 0;
  padding: 0;
}

.report-dev {
  width: 100%;
  color: white;
}
.report-dev > table {
  margin-top: -3px;
  width: 100%;
}
.report-dev td, .report-dev th {
  padding: 3px 0;
  text-align: center;
  font-weight: normal;
}

.report-dev-delim > td > div {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0;
  height: 7px;
  width: 100%;
  background-color: white;
  border: 1px solid #cccccc;
}

.top-tab, .top-tab-active, .compose-tab, .compose-tab-active {
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: small;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
}
.top-tab:hover, .top-tab-active:hover, .compose-tab:hover, .compose-tab-active:hover {
  text-decoration: none;
}

.top-tab, .compose-tab {
  color: white;
  background-color: #666;
}
.top-tab:hover, .compose-tab:hover {
  background-color: #999;
  color: white;
}

.top-tab-active, .compose-tab-active.compose-tab-active {
  background-color: white;
  color: black;
}
.top-tab-active:hover, .compose-tab-active.compose-tab-active:hover {
  background-color: white;
  color: black;
}

.top-tab-container {
  position: relative;
  height: 64px;
  margin-top: 39px;
  margin-left: 35px;
}

.top-tab-line {
  position: absolute;
  bottom: 0px;
  overflow: hidden;
  padding-right: 12px;
}

.top-tab, .top-tab-active {
  -webkit-border-radius: 10px 0px 0px 0px;
  -moz-border-radius: 10px 0px 0px 0px;
  border-radius: 10px 0px 0px 0px;
  border-top: 1px solid #555;
  border-left: 1px solid #555;
  padding: 4px 28px 6px 35px;
  z-index: 6;
  position: relative;
  margin: 0px;
  margin-right: 13px;
  overflow: hidden;
  height: 25px;
  line-height: 23px;
}

.top-tab-after {
  -webkit-transform: translateX(25px) translateY(9px) rotate(45deg);
  -moz-transform: translateX(25px) translateY(9px) rotate(45deg);
  -ms-transform: translateX(25px) translateY(9px) rotate(45deg);
  -o-transform: translateX(25px) translateY(9px) rotate(45deg);
  transform: translateX(25px) translateY(9px) rotate(45deg);
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background-color: #666;
  border-top: 1px solid #555;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  right: 0px;
  z-index: -1;
}

.top-tab:hover {
  z-index: 16;
}

.top-tab:hover .top-tab-after {
  background-color: #999;
}

.top-tab-active {
  z-index: 9;
  border-color: #999;
}

.top-tab-active .top-tab-after {
  background-color: white;
}

.view-search-bar {
  text-align: center;
}
.view-search-bar .selectbox {
  text-align: left;
}
.view-search-bar .selectbox .select {
  margin-top: 10px;
  border-radius: 12px;
  height: 26px;
  /*margin-left:3px;*/
}
.view-search-bar > div {
  margin: 10px;
}
.view-search-bar input, .view-search-bar select {
  margin: 0px 5px;
}
.view-search-bar input[type='date'], .view-search-bar input[data-orig-type='date'] {
  width: 100px;
}
.view-search-bar select {
  width: 120px;
  padding: 2px 6px;
  height: 26px;
}
