<div class="row">
    <div class="span10 offset1 register-form">
        <form name="form" class="form-horizontal form-box" novalidate>
            <div class="failreason" ng-show="error">ERROR: {{error}}</div>
            <fieldset>
                <div class="control-group">
                    <label for="register-email" class="control-label">Email</label>
                    <div class="controls">
                        <input ng-model="register_email" id="register-email" type="email" name="email" value="" required="" autofocus="" data-eve="email">
                    </div>
                </div>
                <div class="control-group">
                    <label for="register-pass" class="control-label">Password</label>
                    <div class="controls">
                        <input ng-model="register_pass" id="register-pass" type="password" name="password" required="" data-eve="password">
                    </div>
                </div>
                <div class="control-group">
                    <label for="register-pass2" class="control-label">Confirm password</label>
                    <div class="controls">
                        <input ng-model="register_pass2" id="register-pass2" type="password" name="password2" required="" data-pw-confirm="register-pass">
                    </div>
                </div>
                <div class="control-group">
                    <label for="register-org" class="control-label">Organization</label>
                    <div class="controls">
                        <input ng-model="register_org" id="register-org" type="text" name="org" value="" data-eve="organization">
                    </div>
                </div>
                <div class="control-group">
                    <label for="register-name" class="control-label">Name</label>
                    <div class="controls">
                        <input ng-model="register_name" id="register-name" type="text" name="name" value="">
                    </div>
                </div>
                <div class="control-group">
                    <label for="register-phone" class="control-label">Phone</label>
                    <div class="controls">
                        <input ng-model="register_phone" id="register-phone" type="tel" name="phone" value="" data-eve="phone">
                        <a href="#" class="icon icon-add add-phone"></a>
                    </div>
                </div>
                <div class="form-actions">
                    <input ng-model="chk_agreed" id="chk-agreed" name="agreed" type="checkbox" required="">
                    <label for="chk-agreed">
                        <span>I agree to the usage and privacy policies of this site</span>
                    </label>
                    <button style="width:92px;padding: 3px 24px; font-weight: normal" type="submit" class="button-round-grey" ng-click="registerAction()">START</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>